@import 'global';
@import 'mixin';



body{

    /*Reservas*/
    .headerReservas{
        background: none;
        min-height: 15vh;
        padding-top: 10vh;

        .navReservas{
            min-height: 11vh;
            background:#caf0f8;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            @include section(flex, space-around, center);
            z-index: 100000000;
        }

        .ullNav{
            @include section(flex, space-between, center);
            gap: 30px;

            a{
                padding: 6px 15px;
                color: #00296b;
                font-size: 22px;
                letter-spacing: 2px;
                font-weight: bold;
                border-radius: 20px;

                &:hover{
                    background: #fff;
                    color: #0496FF;
                    transition: .7s;
                }
            }
        }
    }


    //login

        .headerLogin{
            background: none;
            min-height: 0;
            padding-top: 10vh;
            

            .navLogin{
                min-height: 11vh;
                background:#caf0f8;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                @include section(flex, space-around, center);
                z-index: 100000000;
            }

            .ullNav{
                @include section(flex, space-between, center);
                gap: 30px;

                a{
                    padding: 6px 15px;
                    color: #00296b;
                    font-size: 22px;
                    letter-spacing: 2px;
                    font-weight: bold;
                    border-radius: 20px;

                    &:hover{
                        background: #fff;
                        color: #0496FF;
                        transition: .7s;
                    }
                }
            }
        }
        .containerFormLogin{
            
        }


    /*la nav*/

    header{
    min-height: 100vh;
    background: linear-gradient(#caf0f8, #0496FF);

    .nav{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        @include section(flex, space-around, center);
        background: #caf0f8;
        z-index: 100000000;

        &.active{
            background-color: #f8f9fa;
            height: 70px;
            transition: .7s linear;          
            
        }
        .logo{
            &.active{
            transform: scale(0.5);
            transition: .7s;
            } 
        }
        

        .ullNav{
            @include section(flex, space-between, center);
            gap: 30px;

            a{
                padding: 6px 15px;
                color: #00296b;
                font-size: 22px;
                letter-spacing: 2px;
                font-weight: bold;
                border-radius: 20px;

                &:hover{
                    background: #fff;
                    color: #0496FF;
                    transition: .7s;
                }
            }
        }

    }

    .parallax{
        position: relative;
        height: 20vh;
        @include body(100vh, 100%);
        padding: 100px;
        @include section(flex, center, center);
        
        .portada{
            position: absolute;
            top: 0;
            left: 0;
            @include body(100%, 100%);
            object-fit: cover;  
            z-index: 13;
            
        } 
        .montañas{
            position: absolute;
            top: 0;
            left: 0;
            @include body(100%, 100%);
            object-fit: cover;  
            z-index: 9;
        } 

        .title{
            font-family: 'MonteCarlo', cursive;
            font-size: 170px;
            z-index: 10;
            color: #00296b; 
        }
    }
    }

    .cardSection{

        position: relative;
        padding: 100px;
        background: #f8f9fa;

        .h2Cards{
                @include section(flex, center, center);
                font-size: 35px;
                font-weight: 900;
                margin-bottom: 60px;
        }

        .containImg{
            @include section(flex, space-evenly, center);
            flex-wrap: wrap;
            gap: 60px;
            

            .cardImgCont{
                @include body(400px, 300px);
                background-color: #333;
                border-radius: 15px;
                outline: 2px solid rgba(255, 255, 255, .7);
                outline-offset: -20px;
                box-shadow: 3px 3px 10px rgba(0, 0, 0, .1);
                position: relative;
                overflow: hidden;
                @include section(flex, center, center);
                
                

                .cardImg{
                    position: absolute;
                    inset: 0;
                    @include body(100%, 100%);
                    object-fit: cover;
                    transition: transform .75s;
                    opacity: .8;
                    

                    &:hover{
                        transform: scale(1.15);
                        opacity: 1;
                        
                    }
                    
                }

                .h2Img{
                    position: absolute;
                    font-size: 30px;
                    color: #f8f9fa;
                    text-shadow: rgba(51, 51, 51, .5);
                    
                    
                }

            }
        }

    }

    .mediaContain{
        background-color: rgba(191,157,129,1);
        height: 1000px;
        width: auto;
        @include section(flex, center, center);
        flex-direction: row;

        .h2Media{
            background-color: black;
            color: #f8f9fa;
            @include body(100px, 300px);
            z-index: 10;
            padding: 10px;
            margin-right: -20px;

        }

        .mediaImg{
            @include body(800px, 650px);
            

            .imgMedio{
                @include body(100%, 100%);
                object-fit: cover;
                border-radius: 20px;
            }
        }
        .mediaTxt{
            @include body(500px, 650px);
            background-color: #f8f9fa;
            padding: 40px 30px; 
            margin-left: -100px;
            line-height: 18px;
            overflow: hidden;
            font-size: 15px;
            @include section(flex, center, center);
            flex-direction: column;

        }      
    }

    
    .containerFormLogin{
        
        height: 100vh;
        background-image: url("./assets2/pexels-los-muertos-crew-8849246.jpg");
        background-size: cover;
        padding: 10vh 0 0 0;

            .h1Loguin {
                font-weight: 500;
                font-size: 2em;
            }

            .container{
            display: flex;
            overflow: hidden;
            border: 4px solid rgb(161, 179, 164);
            border-radius: 10px;
            background-color: rgba(209, 209, 209, 0.438);
            width: 400px;
            flex-direction: column;
            margin: 2% auto;
            padding: 2%;
           

            .formLogin{

                
                .form-control {
                    background: none;
                    border: none;
                
                    label {
                    display: inline-block;
                    margin-bottom: 5px;
                    font-size: 1.2em;
                    width: 100%;
                    

                        input {
                            border: 2px solid #f0f0f0;
                            border-radius: 4px;
                            display: block;
                            font-family: inherit;
                            font-size: 1em;
                            padding: 5px;
                            width: 96%;
                            margin-top: 10px;
                        }   
                    }
                }
            
                .submitLogin{
                
                    background-color: rgba(43, 71, 104, 0.808);
                    border: rgba(43, 71, 104, 0.808) solid 2px;
                    border-radius: 10px;
                    padding: 10px;
                    width: 100%;
                    color: white;
                    font-size: 1.2em;
                    margin-top: 4%;
                }

            }
            
            }      
    }
        
    footer{
        background-color: black;
        width: auto;
        height: 200px;
        display: flex;
        flex-direction: column;
        padding: 20px;
        gap: 40px;

        .redes{
            height: 100px;
            width: auto;
            @include section(flex,center, center);
            gap: 120px;

            .icon{
                height: 50px;
                width: 50px;
                color: rgb(242, 233, 233);
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 30px;
                text-decoration: none;
                &:hover{
                    font-size: 40px;
                    color:#ff0054;
                    transition: .5s ease;
                }

            }
            
            
        }
        .containFooter{
            @include section(flex,center, flex-end);
            height: 100px;

            .pFooter{
                color: #f8f9fa;
                word-spacing: 3px;
                

                .nick{
                    color:#ff5d8f ;
                    font-size: 20px;
                    &:hover{

                        color:#ff0054;
                    }
                }
            }
        }

        
    }

    .scroll-top-btn{
        position: fixed;
        z-index: 999;
        bottom: 1vh;
        right: 1vh;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        font-size: 2rem;
        font-weight: bold;
        background-color: rgba(191,157,129,1);
        color: black;
        cursor: pointer;
        outline: 0;
        transition: all 0.3s ease-out;
        &:hover{
            background-color: black;
            color: white;
        }
        .hidden{
            visibility: hidden;
            opacity: 0;
        }
    }
}

@media screen and(min-width: 420px) and (max-wid:992px) {
    
}


@media (max-width: 420px){

    .header{
    min-height: 40%;

        .nav{
        width: 100%;
        min-height: 8vh;

        #navLogo{
            font-size: 10px;
        }
        }

      
    }

    #parallax{

        padding: 0px;
        margin-top: 100px;
        height: 40%;


        // display: none;
        
    }
    #cardSection{
        padding: 0 0 100px 0; 

        #h2Cards{
            font-size: 20px;
            margin-top: 100px;
        }

        #mediaContain{
            .h2Media{
                font-size: 10px;
            }
        }
    }


        
}

