@import 'global';
@import 'mixin';

body{

/*la nav*/
    header{
    min-height: 100vh;
    background: linear-gradient(#caf0f8, #0496FF);
    
    .nav{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        @include section(flex, space-around, center);
        z-index: 100000000;

        &.active{
            background-color: #f8f9fa;
            height: 70px;
            transition: .7s linear;          
            
        }
        .logo{
            &.active{
            transform: scale(0.5);
            transition: .7s;
            } 
        }
        

        .ullNav{
            @include section(flex, space-between, center);
            gap: 30px;

            a{
                padding: 6px 15px;
                color: #00296b;
                font-size: 22px;
                letter-spacing: 2px;
                font-weight: bold;
                border-radius: 20px;

                &:hover{
                    background: #fff;
                    color: #0496FF;
                    transition: .7s;
                }
            }
        }

    }

    .parallax{
        position: relative;
        @include body(100vh, 100%);
        padding: 100px;
        @include section(flex, center, center);
        
        .portada{
            position: absolute;
            top: 0;
            left: 0;
            @include body(100%, 100%);
            object-fit: cover;  
            z-index: 13;
            
        } 
        .montañas{
            position: absolute;
            top: 0;
            left: 0;
            @include body(100%, 100%);
            object-fit: cover;  
            z-index: 9;
        } 

        .title{
            font-family: 'MonteCarlo', cursive;
            font-size: 170px;
            z-index: 10;
            color: #00296b; 
        }
    }
    }

    .cardSection{

        position: relative;
        padding: 100px;
        background: #f8f9fa;

        .h2Cards{
                @include section(flex, center, center);
                font-size: 50px;
                font-weight: 900;
                margin-bottom: 60px;
        }

        .containImg{
            @include section(flex, space-evenly, center);
            flex-wrap: wrap;
            gap: 60px;
            

            .cardImgCont{
                @include body(450px, 350px);
                background-color: #333;
                border-radius: 15px;
                outline: 2px solid rgba(255, 255, 255, .7);
                outline-offset: -20px;
                box-shadow: 3px 3px 10px rgba(0, 0, 0, .1);
                position: relative;
                overflow: hidden;
                @include section(flex, center, center);
                
                

                .cardImg{
                    position: absolute;
                    inset: 0;
                    @include body(100%, 100%);
                    object-fit: cover;
                    transition: transform .75s;
                    opacity: .8;
                    

                    &:hover{
                        transform: scale(1.15);
                        opacity: 1;
                        
                    }
                    
                }

                .h2Img{
                    position: absolute;
                    font-size: 30px;
                    color: #f8f9fa;
                    text-shadow: rgba(51, 51, 51, .5);
                    
                    
                }

            }
        }

    }

    .mediaContain{
        background-color: rgba(191,157,129,1);
        height: 1000px;
        width: auto;
        @include section(flex, center, center);
        flex-direction: row;

        .h2Media{
            background-color: black;
            color: #f8f9fa;
            @include body(100px, 300px);
            z-index: 10;
            padding: 10px;
            margin-right: -20px;

        }

        .mediaImg{
            @include body(800px, 650px);
            

            .imgMedio{
                @include body(100%, 100%);
                object-fit: cover;
                border-radius: 20px;
            }
        }
        .mediaTxt{
            @include body(500px, 650px);
            background-color: #f8f9fa;
            padding: 40px 30px; 
            margin-left: -100px;
            line-height: 18px;
            overflow: hidden;
            font-size: 15px;
            @include section(flex, center, center);
            flex-direction: column;

        }      
    }

    footer{
        background-color: black;
        width: auto;
        height: 200px;
        @include section(flex, center,flex-end);
        padding: 30px;

        .pFooter{
            color: #f8f9fa;
            word-spacing: 3px;

            .nick{
                color:#ff5d8f ;
                font-size: 20px;
                &:hover{
                    color:#ff0054 ;
                }
            }
        }
    }
}
